.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background: rgb(237, 225, 225);
  box-shadow: 0 -4px 12px rgba(0,0,0,0.15);
  z-index: 999;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 480px) {
  .sticky-footer {
    flex-direction: column;
    height: auto;
    gap: 5px;
    padding: 10px 0;
  }
}
